name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: rustfmt
      run: cargo fmt --check

    - uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Debug
      run: cargo build --debug --verbose

    - uses: actions/upload-artifact@v3
      with:
        name: binaries (debug)
        path: |
          target/i686-pc-windows-msvc/debug/sbz-switch.exe
          target/i686-pc-windows-msvc/debug/sbz_switch.pdb

    - name: Build Release
      run: cargo build --release --verbose

    - uses: actions/upload-artifact@v3
      with:
        name: binaries
        path: |
          target/i686-pc-windows-msvc/release/sbz-switch.exe
          target/i686-pc-windows-msvc/release/sbz_switch.pdb
